
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="style.css" />
    <title>Link Tree</title>
</head>
<body>
<div class="container">
    <!-- Picture -->
    <div class="profile">
        <img src="pic/Background.jpg" alt="error image"/>
        <p>Pacar Rais</p>
    </div>

    <!-- Link Button -->
    <div class="link">
        <span class="icon-container">
            <i class="material-icons-outlined">person</i>
            <span class="text">Edit Profile</span>
        </span>
        <span class="icon-container">
            <i class="material-icons-outlined">gpp_maybe</i>
            <span class="text">Change Password</span>
        </span>
        <span class="icon-container">
            <i class="material-icons-outlined">help_center</i>
            <span class="text">Help Center</span>
        </span>
        <br><br><br><br><br><br>
        <span class="icon-container">
            <i class="material-icons-outlined">logout</i>
            <span class="text">Logout</span>
        </span>
    </div>

    <!-- Footer -->
    <div class="footer">
        <a> Rais Resto <a>
    </div>
</div>
</body>
</html>

