.input-group .form-control {
    font-size: 15px;
    padding: 5px;
    height: 40px;
    width: 60px;
    margin-left: 2;
}

.input-group .btn {
    font-size: 20px;
    padding: 0.25rem 0.5rem;
}

.resto-name {
    font-size: 30px;
    font-weight: bold;
}
